{% block heptacom_admin_open_auth_client_edit_page_content_base_settings_inner_store_user_token %}{% endblock %}

{%  block heptacom_admin_open_auth_client_edit_page_content_base_settings_inner %}
    {% parent %}

    <sw-textarea-field
        :disabled="true"
        :label="$t('heptacomAdminOpenAuthClient.providerFields.saml2.serviceProviderCertificate')"
        v-model="item.config.serviceProviderCertificate"
    ></sw-textarea-field>
    <sw-textarea-field
        :disabled="true"
        :label="$t('heptacomAdminOpenAuthClient.providerFields.saml2.serviceProviderPublicKey')"
        v-model="item.config.serviceProviderPublicKey"
    ></sw-textarea-field>
{% endblock %}

{% block heptacom_admin_open_auth_client_edit_page_content_provider_settings %}
    {% parent %}

    {% block heptacom_admin_open_auth_client_edit_page_content_provider_settings_saml2_idp %}
        <sw-card
            v-if="item && item.provider === 'saml2'"
            :title="$t('heptacomAdminOpenAuthClient.providerFields.saml2.identityProviderCardTitle')"
        >
            <!-- auto config -->
            <sw-url-field
                :omitUrlHash="true"
                :omitUrlSearch="false"
                :disabled="!!item.config.identityProviderMetadataXml"
                :label="$t('heptacomAdminOpenAuthClient.providerFields.saml2.identityProviderMetadataUrl')"
                :help-text="$t('heptacomAdminOpenAuthClient.providerFields.saml2.identityProviderMetadataUrl-help')"
                :placeholder="$t('heptacomAdminOpenAuthClient.providerFields.saml2.identityProviderMetadataUrl-placeholder')"
                v-model="item.config.identityProviderMetadataUrl"
            ></sw-url-field>
            <sw-textarea-field
                :disabled="!!item.config.identityProviderMetadataUrl"
                :label="$t('heptacomAdminOpenAuthClient.providerFields.saml2.identityProviderMetadataXml')"
                :help-text="$t('heptacomAdminOpenAuthClient.providerFields.saml2.identityProviderMetadataXml-help')"
                v-model="item.config.identityProviderMetadataXml"
            ></sw-textarea-field>

            <!-- manual config -->
            <sw-text-field
                :disabled="!!item.config.identityProviderMetadataUrl || !!item.config.identityProviderMetadataXml"
                :label="$t('heptacomAdminOpenAuthClient.providerFields.saml2.identityProviderEntityId')"
                v-model="item.config.identityProviderEntityId"
            ></sw-text-field>
            <sw-url-field
                :omitUrlHash="true"
                :omitUrlSearch="true"
                :disabled="!!item.config.identityProviderMetadataUrl || !!item.config.identityProviderMetadataXml"
                :label="$t('heptacomAdminOpenAuthClient.providerFields.saml2.identityProviderSsoUrl')"
                v-model="item.config.identityProviderSsoUrl"
            ></sw-url-field>
            <sw-textarea-field
                :label="$t('heptacomAdminOpenAuthClient.providerFields.saml2.identityProviderCertificate')"
                v-model="item.config.identityProviderCertificate"
            ></sw-textarea-field>
        </sw-card>
    {% endblock %}

    {% block heptacom_admin_open_auth_client_edit_page_content_provider_settings_saml2_attribute_mapping %}
        <sw-card
            v-if="item && item.provider === 'saml2'"
            :title="$t('heptacomAdminOpenAuthClient.providerFields.saml2.attributeMapping.cardTitle')"
        >
            {% block heptacom_admin_open_auth_client_edit_page_content_provider_settings_saml2_attribute_mapping_inner %}
                <sw-select-field :label="$t('heptacomAdminOpenAuthClient.providerFields.saml2.attributeMapping.templateSelect')"
                                 :placeholder="$t('heptacomAdminOpenAuthClient.providerFields.saml2.attributeMapping.templateSelect-placeholder')"
                                 v-model="selectedMappingTemplate"
                >
                    <option v-for="(mappedAttributes, templateKey) of attributeMappingTemplates" :value="templateKey">
                        {{ $t('heptacomAdminOpenAuthClient.providerFields.saml2.attributeMapping.template.' + templateKey) }}
                    </option>
                </sw-select-field>

                <div class="sw-field">
                    <sw-button
                        :block="true"
                        variant="ghost"
                        size="small"
                        :disabled="!selectedMappingTemplate"
                        @click="onApplyMappingTemplate(selectedMappingTemplate)"
                    >
                        {{ $t('heptacomAdminOpenAuthClient.providerFields.saml2.attributeMapping.templateApply') }}
                    </sw-button>
                </div>

                <sw-text-field v-for="mappedProperty of availableProperties"
                               :label="$t('heptacomAdminOpenAuthClient.providerFields.saml2.attributeMapping.field.' + mappedProperty)"
                               v-model="item.config.attributeMapping[mappedProperty]"
                ></sw-text-field>
            {% endblock %}
        </sw-card>
    {% endblock %}
{% endblock %}
