{% block heptacom_admin_open_auth_scope_field %}
    <div class="heptacom-admin-open-auth-scope-field">
        {% block heptacom_admin_open_auth_scope_field_confirm %}
            <sw-confirm-field
                v-bind="exceptInput($attrs)"
                v-on="exceptInput($listeners)"
                :preventEmptySubmit="true"
                @input="addItem"
                ref="confirmField"
            ></sw-confirm-field>
        {% endblock %}

        {% block heptacom_admin_open_auth_scope_field_default_scopes_grid %}
            <sw-grid
                :header="false"
                :selectable="false"
                :table="true"
                :items="defaultScopeItems">
                {% block heptacom_admin_open_auth_scope_field_default_scopes_grid_inner %}
                {% endblock %}

                <template slot="columns" slot-scope="{ item }">
                    {% block heptacom_admin_open_auth_scope_field_default_scopes_grid_columns %}
                        {% block heptacom_admin_open_auth_scope_field_default_scopes_grid_columns_name %}
                            <sw-grid-column>
                                {{ item.name }}
                            </sw-grid-column>
                        {% endblock %}
                    {% endblock %}
                </template>
            </sw-grid>
        {% endblock %}

        {% block heptacom_admin_open_auth_scope_field_items_grid %}
            <sw-grid
                :header="false"
                :selectable="false"
                :table="true"
                :items="innerValue">
                {% block heptacom_admin_open_auth_scope_field_items_grid_inner %}
                {% endblock %}

                <template slot="columns" slot-scope="{ item }">
                    {% block heptacom_admin_open_auth_scope_field_items_grid_columns %}
                        {% block heptacom_admin_open_auth_scope_field_items_grid_columns_name %}
                            <sw-grid-column
                                flex="1fr"
                            >
                                {{ item.name }}
                            </sw-grid-column>
                        {% endblock %}

                        {% block heptacom_admin_open_auth_scope_field_items_grid_columns_actions %}
                            <sw-grid-column
                                align="right"
                                flex="auto"
                            >
                                {% block heptacom_admin_open_auth_scope_field_items_grid_columns_actions_remove %}
                                    <sw-button
                                        @click="removeItem(item.name)"
                                        size="x-small"
                                        variant="danger"
                                        square
                                    >
                                        <sw-icon
                                            name="small-default-x-line-small"
                                            small
                                        ></sw-icon>
                                    </sw-button>
                                {% endblock %}
                            </sw-grid-column>
                        {% endblock %}
                    {% endblock %}
                </template>
            </sw-grid>
        {% endblock %}
    </div>
{% endblock %}
