/vendor/
/dev-ops/bin/composer-normalize
/dev-ops/bin/composer-require-checker
/dev-ops/bin/composer-unused/vendor/
/dev-ops/bin/easy-coding-standard/vendor/
/dev-ops/bin/phpmd
/dev-ops/bin/phpstan/vendor/
/dev-ops/bin/psalm/vendor/
/dev-ops/bin/php-churn/vendor/
/dev-ops/bin/shopware/vendor
/setup-vendor.sh
/composer.lock

/.build
/.idea/*.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/php.xml
