image: heptacom/shopware-6-plugin-pipeline:php74-node14-latest

definitions:
    steps:
        -   step: &default-step
                caches:
                    - composer
                after-script:
                    - cp -a .build test-results
                    - find test-results -type f -name '*.xml' -exec sed -i .bak -e "s|`pwd`/||" {} +
                    - 'test ${BITBUCKET_EXIT_CODE} -eq 0 || composer config --list'
        -   step: &keyword-check
                <<: *default-step
                name: Keyword Gate
                script:
                    - 'test $(git --no-pager log --full-history "--grep=${GITHUB_GREP_DENY_PATTERN}" | wc -l) -eq 0'
                    - 'test $(git --no-pager log --full-history -S "${GITHUB_GREP_DENY_PATTERN}" --pickaxe-all --pickaxe-regex --oneline | wc -l) -eq 0'
                after-script:
                    - 'test ${BITBUCKET_EXIT_CODE} -eq 0 || git --no-pager log --full-history "--grep=${GITHUB_GREP_DENY_PATTERN}"'
                    - 'test ${BITBUCKET_EXIT_CODE} -eq 0 || git --no-pager log --full-history -S "${GITHUB_GREP_DENY_PATTERN}" --pickaxe-all --pickaxe-regex --oneline'
        -   step: &tag-check
                <<: *default-step
                name: Tag Gate
                script:
                    - '[[ "${BITBUCKET_TAG}" == *"$(jq -r composer.json .version)" ]]'
                    - 'grep -qe "# ${BITBUCKET_TAG}" CHANGELOG.md'
                after-script:
                    - 'test ${BITBUCKET_EXIT_CODE} -eq 0 || echo "Bitbucket tag: ${BITBUCKET_TAG}"'
                    - 'test ${BITBUCKET_EXIT_CODE} -eq 0 || (echo "composer.json version: " && jq -r composer.json .version)'
                    - "test ${BITBUCKET_EXIT_CODE} -eq 0 || (echo 'CHANGELOG.md versions: ' && grep -e '# ' CHANGELOG.md)'"
        -   step: &composer-low-install
                <<: *default-step
                name: Install (Low dependencies)
                artifacts:
                    - .build/**
                    - composer.lock
                    - setup-vendor.sh
                script:
                    - make clean
                    - composer update --prefer-lowest --prefer-stable
                    - COMPOSER_EXTRA_ARGS=-vvv make -e vendor
                    - make .build
                    - mv vendor .build/vendor-low
                    - echo 'mkdir -p vendor; rm -rf vendor; mv .build/vendor-low vendor' > setup-vendor.sh
        -   step: &composer-install-php-80
                <<: *default-step
                image: heptacom/shopware-6-plugin-pipeline:php80-node14-latest
                name: Install PHP 8.0
                script:
                    - make clean
                    - composer update --prefer-stable
                    - COMPOSER_EXTRA_ARGS=-vvv make -e vendor
        -   step: &composer-install-php-81
                <<: *default-step
                image: heptacom/shopware-6-plugin-pipeline:php81-node14-latest
                name: Install PHP 8.1
                script:
                    - make clean
                    - composer update --prefer-stable
                    - COMPOSER_EXTRA_ARGS=-vvv make -e vendor
        -   step: &build-fix-and-commit
                <<: *default-step
                name: Build and fix (composer.json, ECS, admin)
                script:
                    - bash setup-vendor.sh
                    - COMPOSER_EXTRA_ARGS=-vvv make -e cs-fix-composer-normalize
                    - |
                        if [[ $(git add -A -n | wc -l) -ne 0 ]]; then
                            git add -A
                            git commit -m "$ make cs-fix-composer-normalize"
                        fi
                    - COMPOSER_EXTRA_ARGS=-vvv make -e cs-fix-ecs
                    - |
                        if [[ $(git add -A -n | wc -l) -ne 0 ]]; then
                            git add -A
                            git commit -m "$ make cs-fix-ecs"
                        fi
                    - COMPOSER_EXTRA_ARGS=-vvv make -e build-administration
                    - |
                        if [[ $(git add -A -n | wc -l) -ne 0 ]]; then
                            git add -A
                            git commit -m "$ make build-administration"
                        fi
                    - |
                        if [[ $(git rev-parse HEAD) != "${BITBUCKET_COMMIT}" ]]; then
                            echo "Changes get pushed, new pipeline will run later see"
                            echo "https://bitbucket.org/${BITBUCKET_REPO_FULL_NAME}/commits/"$(git rev-parse HEAD)
                            git push
                            exit 1
                        fi
        -   step: &test-code-style-php
                <<: *default-step
                name: ECS (Code style)
                script:
                    - bash setup-vendor.sh
                    - COMPOSER_EXTRA_ARGS=-vvv make -e cs-ecs
        -   step: &test-code-style-soft-require
                <<: *default-step
                name: Composer soft requirements (Requirement analysis)
                script:
                    - bash setup-vendor.sh
                    - COMPOSER_EXTRA_ARGS=-vvv make -e cs-soft-require
        -   step: &test-code-style-composer-unused
                <<: *default-step
                name: Composer unused (Requirement analysis)
                script:
                    - bash setup-vendor.sh
                    - COMPOSER_EXTRA_ARGS=-vvv make -e cs-composer-unused
        -   step: &test-code-style-composer-normalize
                <<: *default-step
                name: composer.json (Code style)
                script:
                    - bash setup-vendor.sh
                    - COMPOSER_EXTRA_ARGS=-vvv make -e cs-composer-normalize
        -   step: &test-code-style-json
                <<: *default-step
                name: '*.json (Code style)'
                script:
                    - bash setup-vendor.sh
                    - COMPOSER_EXTRA_ARGS=-vvv make -e cs-json
        -   step: &test-build-administration
                <<: *default-step
                name: Check administration is built
                script:
                    - bash setup-vendor.sh
                    - COMPOSER_EXTRA_ARGS=-vvv make -e build-administration
                    - 'test $(git add -A -n | wc -l) -eq 0'
        -   step: &lint-store-readiness
                <<: *default-step
                name: Lint plugins store readiness
                script:
                    - sed -i -e 's/# Unreleased/# 999.999.999/' CHANGELOG.md
                    - sed -i -e 's/# Unreleased/# 999.999.999/' CHANGELOG_de-DE.md
                    - git add CHANGELOG.md CHANGELOG_de-DE.md
                    - git commit -m "$ releasecheck"
                    - git tag 999.999.999
                    - make releasecheck
pipelines:
    branches:
        master:
            -   step: *keyword-check
            -   step: *composer-low-install
            -   step: *build-fix-and-commit
            -   parallel:
                    -   step: *test-code-style-composer-unused
                    -   step: *test-code-style-json
                    -   step: *test-code-style-soft-require
                    -   step: *composer-install-php-80
                    -   step: *composer-install-php-81
            -   step:
                    image: atlassian/default-image:2
                    name: Mirror to Github
                    script:
                        - git remote add github git@github.com:HEPTACOM/HeptacomShopwarePlatformAdminOpenAuth.git
                        - git push --force github master
        '**':
            -   step: *composer-low-install
            -   step: *keyword-check
            -   step: *build-fix-and-commit
            -   parallel:
                    -   step: *test-code-style-composer-normalize
                    -   step: *test-build-administration
                    -   step: *test-code-style-php
                    -   step: *test-code-style-json
                    -   step: *test-code-style-soft-require
                    -   step: *lint-store-readiness
                    -   step: *composer-install-php-80
                    -   step: *composer-install-php-81

    tags:
        '*':
            -   step: *tag-check
            -   step: *keyword-check
            -   step: *composer-low-install
            -   parallel:
                    -   step: *test-code-style-composer-normalize
                    -   step: *test-build-administration
                    -   step: *test-code-style-php
                    -   step: *test-code-style-json
                    -   step: *test-code-style-soft-require
                    -   step:
                            name: Lint plugins store readiness
                            artifacts:
                                - .build/KskHeptacomAdminOpenAuth-*.zip
                            script:
                                - make releasecheck
                    -   step: *composer-install-php-80
                    -   step: *composer-install-php-81
            -   step:
                    image: atlassian/default-image:2
                    name: Mirror tags to Github
                    script:
                        - git remote add github git@github.com:HEPTACOM/HeptacomShopwarePlatformAdminOpenAuth.git
                        - git push --force github tag $BITBUCKET_TAG
    default:
        -   step: *composer-low-install
        -   step: *keyword-check
        -   parallel:
                -   step: *test-code-style-composer-normalize
                -   step: *test-build-administration
                -   step: *test-code-style-php
                -   step: *test-code-style-json
                -   step: *test-code-style-soft-require
                -   step: *lint-store-readiness
                -   step: *composer-install-php-80
                -   step: *composer-install-php-81
