.heptacom-admin-open-auth-rule-item__collapse {
  border: 1px solid #c2ccd6;
  border-radius: 4px;
  padding: 1em;
  margin-bottom: 1em;
}

.heptacom-admin-open-auth-rule-item__collapse-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  cursor: pointer;
  padding-bottom: 16px;

  &-title {
    flex-grow: 1;
    margin-bottom: 0;
  }
}

.heptacom-admin-open-auth-rule-item__collapse-footer {
  display: flex;
  flex-direction: row;
  gap: 1em;
}
