<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/trunk/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>General Settings</title>
        <title lang="de-DE">Allgemeine Einstellungen</title>

        <input-field type="bool">
            <name>denyPasswordLogin</name>
            <label>Deny password login</label>
            <label lang="de-DE">Anmeldung mit Passwort verbieten</label>
            <helpText>If activated and you have issues with your identity provider, this configuration option must be reset via console command.</helpText>
            <helpText lang="de-DE">Wenn aktiviert und Sie Probleme mit Ihrem Identity Provider haben, muss diese Konfigurationsoption über die Konsole zurückgesetzt werden.</helpText>
            <defaultValue>false</defaultValue>
        </input-field>
    </card>

    <card>
        <title>Unified Redirect Domain</title>
        <title lang="de-DE">Einheitliche Redirect Domain</title>

        <input-field type="bool">
            <name>enableUnifiedRedirectDomain</name>
            <label>Enable</label>
            <label lang="de-DE">Aktiv</label>
            <helpText>If activated the identity provider will redirect to one unified url. This might be relevant when using different domains.</helpText>
            <helpText lang="de-DE">Wenn aktiviert, wird der Identity Provider alle Nutzer beim Login an eine einheitliche Domain zurückleiten. Dies kann relevant sein, wenn verschiedene Domains verwendet werden.</helpText>
            <defaultValue>false</defaultValue>
        </input-field>

        <input-field type="url">
            <name>unifiedRedirectDomain</name>
            <label>Redirect domain</label>
            <label lang="de-DE">Redirect Domain</label>
            <helpText>This is the domain that will be used for redirect from the identity provider back to the shop. If empty, APP_URL will be used.</helpText>
            <helpText lang="de-DE">Diese Domain wird vom Identity Provider verwendet, um den Nutzer zurück zum Shop zu leiten. Wenn leer, wird APP_URL verwendet.</helpText>
        </input-field>
    </card>
</config>
