{% block sw_profile_index_content %}
    {% parent %}

    {% block sw_profile_index_heptacom_admin_open_auth_card %}
        <sw-card
            :title="$tc('sw-profile-index.titleHeptacomAdminOpenAuthCard')"
            :isLoading="isUserLoading"
            class="sw-profile__card sw-card--grid"
        >
            {% block sw_profile_index_heptacom_admin_open_auth_card_clients %}
                <template>
                    {% block sw_profile_index_heptacom_admin_open_auth_card_clients_cards %}
                        <sw-container rows="1fr">
                            <sw-card-section
                                v-for="client of heptacomAdminOpenAuthClients"
                                :key="client.id"
                                divider="bottom"
                            >
                                {% block sw_profile_index_heptacom_admin_open_auth_card_clients_cards_item %}
                                    <sw-container columns="1fr auto">
                                        {% block sw_profile_index_heptacom_admin_open_auth_card_clients_cards_item_provider %}
                                            <div>
                                                {{ client.name }}
                                            </div>
                                        {% endblock %}

                                        {% block sw_profile_index_heptacom_admin_open_auth_card_clients_cards_item_action %}
                                            <sw-button
                                                v-if="client.connected"
                                                @click="revokeHeptacomAdminOpenAuthUserKey(client.id)"
                                                icon="regular-minus"
                                            >
                                                {{ $t('sw-profile-index.heptacomAdminOpenAuth.userKeys.actions.revoke') }}
                                            </sw-button>
                                            <sw-button
                                                v-else-if="!client.connected"
                                                @click="redirectToLoginMask(client.id)"
                                                icon="regular-plus"
                                            >
                                                {{ $t('sw-profile-index.heptacomAdminOpenAuth.userKeys.actions.connect') }}
                                            </sw-button>
                                        {% endblock %}
                                    </sw-container>
                                {% endblock %}
                            </sw-card-section>
                        </sw-container>
                    {% endblock %}
                </template>
            {% endblock %}
        </sw-card>
    {% endblock %}
{% endblock %}

{% block sw_profile_index_content_confirm_password_modal_input__confirm_password %}
    <heptacom-admin-open-auth-user-confirm-login
        ref="heptacomAdminOpenAuthUserConfirmLogin"
        @confirm="heptacomAdminOpenAuthUserConfirm"
    ></heptacom-admin-open-auth-user-confirm-login>

    {% parent %}
{% endblock %}
