{% block heptacom_admin_open_auth_client_edit_page %}
    <sw-page
        :showSearchBar="false"
        class="heptacom-admin-open-auth-client-edit-page"
    >
        {% block heptacom_admin_open_auth_client_edit_page_inner %}
        {% endblock %}

        {% block heptacom_admin_open_auth_client_edit_page_smart_bar_header %}
            <template #smart-bar-header>
                {{ dynamicName }}
            </template>
        {% endblock %}

        {% block heptacom_admin_open_auth_client_edit_page_search_bar_actions %}
            <template #smart-bar-actions>
                {% block heptacom_admin_open_auth_client_edit_page_search_bar_actions_help %}
                    <sw-button
                        :disabled="isLoading"
                        :isLoading="isLoading"
                        :link="item ? $t('heptacomAdminOpenAuthClient.providers.' + item.provider + '.helpUrl') : ''"
                    >
                        <sw-icon name="regular-external-link" small></sw-icon>
                        {{ $t('heptacom-admin-open-auth-client.pages.edit.actions.help') }}
                    </sw-button>
                {% endblock %}

                {% block heptacom_admin_open_auth_client_edit_page_search_bar_actions_delete %}
                    <sw-button
                        v-if="acl.can('heptacom_admin_open_auth_client.deleter')"
                        :disabled="isLoading"
                        @click="showDeleteModal = true"
                        variant="danger"
                    >
                        {{ $t('heptacom-admin-open-auth-client.pages.edit.actions.delete') }}
                    </sw-button>
                {% endblock %}

                {% block heptacom_admin_open_auth_client_edit_page_search_bar_actions_cancel %}
                    <sw-button
                        :disabled="isLoading"
                        @click="cancelEdit"
                    >
                        {{ $t('heptacom-admin-open-auth-client.pages.edit.actions.cancel') }}
                    </sw-button>
                {% endblock %}

                {% block heptacom_admin_open_auth_client_edit_page_search_bar_actions_save %}
                    <sw-button-process
                        :disabled="isLoading"
                        :isLoading="isLoading"
                        @click.prevent="saveItem"
                        v-model="isSaveSuccessful"
                        variant="primary"
                    >
                        {{ $t('heptacom-admin-open-auth-client.pages.edit.actions.save') }}
                    </sw-button-process>
                {% endblock %}
            </template>
        {% endblock %}

        {% block heptacom_admin_open_auth_client_edit_page_content %}
            <template #content>
                <sw-card-view>
                    {% block heptacom_admin_open_auth_client_edit_page_content_base_settings %}
                        <sw-card
                            :isLoading="isLoading"
                            position-identifier="heptacom-admin-open-auth-client-edit-page-base-settings"
                        >
                            <template v-if="item">
                                {% block heptacom_admin_open_auth_client_edit_page_content_base_settings_inner %}
                                    {% block heptacom_admin_open_auth_client_edit_page_content_base_settings_inner_name %}
                                        <sw-text-field
                                            :label="$t('heptacom-admin-open-auth-client.pages.edit.fields.name')"
                                            v-model="item.name"
                                        ></sw-text-field>
                                    {% endblock %}
                                    {% block heptacom_admin_open_auth_client_edit_page_content_base_settings_inner_active %}
                                        <sw-switch-field
                                            :label="$t('heptacom-admin-open-auth-client.pages.edit.fields.active')"
                                            v-model="item.active"
                                        ></sw-switch-field>
                                    {% endblock %}
                                    {% block heptacom_admin_open_auth_client_edit_page_content_base_settings_inner_can_login %}
                                        <sw-switch-field
                                            :disabled="!item.active"
                                            :label="$t('heptacom-admin-open-auth-client.pages.edit.fields.login')"
                                            v-model="item.login"
                                        ></sw-switch-field>
                                    {% endblock %}
                                    {% block heptacom_admin_open_auth_client_edit_page_content_base_settings_inner_can_connect %}
                                        <sw-switch-field
                                            :disabled="!item.active"
                                            :label="$t('heptacom-admin-open-auth-client.pages.edit.fields.connect')"
                                            v-model="item.connect"
                                        ></sw-switch-field>
                                    {% endblock %}
                                    {% block heptacom_admin_open_auth_client_edit_page_content_base_settings_inner_store_user_token %}
                                        <sw-switch-field
                                            :disabled="!item.active"
                                            :label="$t('heptacom-admin-open-auth-client.pages.edit.fields.storeUserToken')"
                                            v-model="item.storeUserToken"
                                        ></sw-switch-field>
                                    {% endblock %}
                                    {% block heptacom_admin_open_auth_client_edit_page_content_base_settings_inner_keep_user_updated %}
                                        <sw-switch-field
                                            :disabled="!item.active"
                                            :label="$t('heptacom-admin-open-auth-client.pages.edit.fields.keepUserUpdated')"
                                            :helpText="$t('heptacom-admin-open-auth-client.pages.edit.fields.keepUserUpdatedHelpText')"
                                            v-model="item.keepUserUpdated"
                                        ></sw-switch-field>
                                    {% endblock %}
                                    {% block heptacom_admin_open_auth_client_edit_page_content_base_settings_inner_redirect_uri %}
                                        <sw-text-field
                                            v-if="redirectUri"
                                            :copyable="true"
                                            :copyableTooltip="true"
                                            :label="$t('heptacom-admin-open-auth-client.pages.edit.fields.redirectUri')"
                                            :value="redirectUri"
                                            disabled
                                        ></sw-text-field>
                                    {% endblock %}
                                    {% block heptacom_admin_open_auth_client_edit_page_content_base_settings_inner_metadata_uri %}
                                        <sw-text-field
                                            v-if="metadataUri"
                                            :copyable="true"
                                            :copyableTooltip="true"
                                            :label="$t('heptacom-admin-open-auth-client.pages.edit.fields.metadataUri')"
                                            :value="metadataUri"
                                            disabled
                                        ></sw-text-field>
                                        <sw-button
                                            v-if="metadataUri"
                                            class="sw-button__metadata-download"
                                            :disabled="!metadataUri"
                                            :link="metadataUri"
                                            size="small"
                                            :block="true"
                                        >
                                            {{ $t('heptacom-admin-open-auth-client.pages.edit.fields.downloadMetadata') }}
                                        </sw-button>
                                    {% endblock %}
                                {% endblock %}
                            </template>
                        </sw-card>
                    {% endblock %}

                    {% block heptacom_admin_open_auth_client_edit_page_content_role_assignment %}
                        <sw-card
                            :isLoading="isLoading"
                            :title="$t('heptacom-admin-open-auth-client.pages.edit.roleAssignment.title')"
                            position-identifier="heptacom-admin-open-auth-client-edit-page-role-assignment"
                        >
                            <template v-if="item">
                                {% block heptacom_admin_open_auth_client_edit_page_content_role_assignment_inner %}
                                    {% block heptacom_admin_open_auth_client_edit_page_content_role_assignment_inner_provider_settings %}
                                        <component
                                            :is="providerRoleAssignmentComponent"
                                            v-bind="providerRoleAssignmentProps"
                                        ></component>
                                    {% endblock %}

                                    {% block heptacom_admin_open_auth_client_edit_page_content_role_assignment_inner_rules %}
                                        <heptacom-admin-open-auth-client-rule-container
                                            :client="item"
                                            @rule-deleted="onRuleDeleted"
                                            @conditions-deleted="onConditionsDeleted"
                                        ></heptacom-admin-open-auth-client-rule-container>
                                    {% endblock %}
                                {% endblock %}
                            </template>
                        </sw-card>
                    {% endblock %}

                    {% block heptacom_admin_open_auth_client_edit_page_content_provider_settings %}
                        <component
                            v-if="item && item.provider"
                            :is="providerSettingsComponent"
                            v-bind="providerSettingsProps"
                        ></component>
                    {% endblock %}
                </sw-card-view>

                {% block heptacom_admin_open_auth_client_edit_page_content_modal_delete %}
                    <sw-modal
                        v-if="showDeleteModal"
                        :title="$t('heptacom-admin-open-auth-client.pages.edit.modals.delete.title')"
                        @modal-close="showDeleteModal = false"
                        variant="small"
                    >
                        {% block heptacom_admin_open_auth_client_edit_page_content_modal_delete_confirm_text %}
                            <p>
                                {{ $t('heptacom-admin-open-auth-client.pages.edit.modals.delete.warning') }}
                            </p>
                            <p>
                                <strong>{{ dynamicName }}</strong>
                            </p>
                            <p>
                                {{ $t('heptacom-admin-open-auth-client.pages.edit.modals.delete.explanation') }}
                            </p>
                        {% endblock %}

                        {% block heptacom_admin_open_auth_client_edit_page_content_modal_delete_footer %}
                            <template #modal-footer>
                                {% block heptacom_admin_open_auth_client_edit_page_content_modal_delete_abort %}
                                    <sw-button
                                        size="small"
                                        @click="showDeleteModal = false"
                                    >
                                        {{ $t('heptacom-admin-open-auth-client.pages.edit.modals.delete.cancel') }}
                                    </sw-button>
                                {% endblock %}

                                {% block heptacom_admin_open_auth_client_edit_page_content_modal_delete_delete %}
                                    <sw-button
                                        size="small"
                                        variant="danger"
                                        @click="onConfirmDelete"
                                    >
                                        {{ $t('heptacom-admin-open-auth-client.pages.edit.modals.delete.confirm') }}
                                    </sw-button>
                                {% endblock %}
                            </template>
                        {% endblock %}
                    </sw-modal>
                {% endblock %}
            </template>
        {% endblock %}
    </sw-page>
{% endblock %}
