{% block heptacom_admin_open_auth_user_confirm %}
    <div class="heptacom-admin-open-auth-user-confirm-login">
        <mt-loader v-if="loading"></mt-loader>
        <template v-else>
            <mt-loader v-if="waitingForConfirmation"></mt-loader>
            <sw-card-section
                class="heptacom-admin-open-auth-user-confirm-login--clients"
                :divider="sectionDivider"
                v-if="clients.length > 0"
            >
                <mt-banner
                    v-if="popupsAreBlocked"
                    variant="attention"
                >
                    {{ $tc('heptacom-admin-open-auth-user-confirm-login.popupsBlocked') }}
                </mt-banner>
                <template
                    v-for="client of clients"
                    :key="client.id"
                >
                    <mt-button
                        block
                        variant="secondary"
                        @click="startAuthFlow(client)"
                    >
                        {{ $t('heptacom-admin-open-auth-user-confirm-login.confirmWith', {
                            'clientName': client.name
                        }) }}
                        <mt-icon
                            name="regular-external-link-s"
                            size="16px"
                        ></mt-icon>
                    </mt-button>
                </template>
            </sw-card-section>
        </template>
    </div>
{% endblock %}
