.sw-verify-user-modal--heptacom-admin-open-auth-client-password-confirm {
    &.sw-card-section {
        padding: 15px 0 30px;
        margin-bottom: 30px;
    }

    .sw-button .sw-button__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
