{% set heptacomAdminOpenAuthParent %}{% include '@HeptacomAdminOpenAuth/administration/index-base.html.twig' %}{% endset %}
{% set heptacomAdminOpenAuthScript %}{% include '@HeptacomAdminOpenAuth/administration/index-js.html.twig' %}{% endset %}
{{ heptacomAdminOpenAuthParent|replace({'</body>': heptacomAdminOpenAuthScript})|raw }}
