/**/*.example
/.dbimageBuild
/.dbimageExtra
/.ddev-docker-*.yaml
/.*downloads
/.homeadditions
/.importdb*
/.sshimageBuild
/.venv
/.webimageBuild
/.webimageExtra
/apache/apache-site.conf
/commands/.gitattributes
/commands/db/mysql
/commands/host/launch
/commands/web/xdebug
/commands/web/live
/config.local.y*ml
/db_snapshots
/import-db
/import.yaml
/mutagen/mutagen.yml
/mutagen/.start-synced
/nginx_full/nginx-site.conf
/postgres/postgresql.conf
/providers/acquia.yaml
/providers/lagoon.yaml
/providers/platform.yaml
/providers/upsun.yaml
/sequelpro.spf
/settings/settings.ddev.py
/traefik/config/*.yaml
/traefik/certs/*.crt
/traefik/certs/*.key
/xhprof/xhprof_prepend.php
/**/README.*
!/README.md
/*.local.yaml
