.heptacom-admin-open-auth-client-create-page {
    .sw-card-view__content {
        display: flex;
        height: auto;

        flex-direction: row;
        flex-wrap: wrap;
        gap: 25px;

        & > div {
            min-width: 300px;

            .sw-card {
                margin: 0;

                .logo {
                    width: 100%;
                    height: 100px;
                    padding: 30px;
                    padding-top: 0;

                    text-align: center;

                    img {
                        width: 100%;
                        height: 100%;
                        max-width: 150px;
                        max-height: 100px;
                        object-fit: contain;
                    }
                }
            }
        }
    }
}
